ion-content {
    --ion-background-color: #edf7fc;
}

ion-card-title {
    --color: #100288;
}

ion-item {
    --ion-text-color: #100288;
    font-size: 1.0rem;
}

img {
    height: 18vh;
    width: auto;
    margin: auto;
    display: block;
}