<ion-header>
  <ion-toolbar color="secondary">

    <img src="../assets/sovellus_logo.png" />

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>

      <ion-text class="ion-text-uppercase">
        <ion-card-title>Sovellustietoja</ion-card-title>
      </ion-text>

    </ion-card-header>

    <ion-card-header>

      <ion-card-title>Versio</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      
      <ion-item>
        <ion-label>
          Versio 1.0. <br>
          Sovellus toimii Android-laitteilla.
        </ion-label>
      </ion-item>

      
    </ion-card-content>

    <ion-card-header>

      <ion-card-title>Lipas-tietokanta</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      
      <ion-item>
        <ion-label class="ion-text-wrap">
          Sovelluksen esittämät liikuntapaikkatiedot saadaan Jyväskylän yliopiston ylläpitämästä Lipas-tietokannasta.   
          Käyttäjän suoritettua kuntakohtaisen haun, sovellus hakee uusimman liikuntapaikkoja koskevan datan palvelimelta
          Lipas-API -rajapinnan avulla.
        </ion-label>
      </ion-item>

    </ion-card-content>

    <ion-card-header>
      <ion-card-title>OpenStreetMap</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label class="ion-text-wrap">
          Karttasivu on toteutettu OpenStreetMap-palvelun avulla. OpenStreetMap® on avointa dataa, jonka OpenStreetMap Foundation (OSMF)
          on lisensoinut Open Data Commons Open Database -lisenssillä (ODbL). Kartta-aineisto ja dokumentaatio on lisensoitu 
          Creative Commons Nimeä-Jaa samoin 2.0 -lisenssillä (CC-BY-SA). Klikkaamalla linkkiä voit lukea lisää tekijänoikeuksista:
          <button ion-button (click)="openUrl()">OpenStreetMap tekijänoikeudet</button>        
        </ion-label>
      </ion-item>

    </ion-card-content>

  </ion-card>




</ion-content>
