<ion-header>
  <ion-toolbar color="secondary">

    <img src="../assets/sovellus_logo.png" />
    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      
      <ion-button (click)="show_information();">
        <ion-icon name="information-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>

    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-text>
    <h2>{{ sportPlaceName }}</h2>
    <h6>{{ distanceText }}</h6>
  </ion-text>

  <ion-grid>
    <ion-row>

      <ion-col size="1" class="backgroundImage"></ion-col>

      <ion-col size="10">
        <div id="map" style="width: 100%; height: 100%;"></div>
      </ion-col>

      <ion-col size="1"  class="backgroundImage"></ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
