ion-content {
    --ion-background-color: #edf7fc;
    --ion-text-color: #100288;
}

.backgroundImage {
    background-image: url("../../assets/frame_image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

ion-grid {
    height: 100%;
  
    ion-row {
      height: 100%;
    }
  }

img {
    height: 18vh;
    width: auto;
    margin: auto;
    display: block;
}

h2, h6 {
  margin-left: 25px;
}
