<ion-header>
  <ion-toolbar color="secondary">

    <img src="../assets/sovellus_logo.png" />

    <ion-buttons slot="end">
      <ion-button (click)="show_information();">
        <ion-icon name="information-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-searchbar placeholder="Syötä kunnan nimi" color="secondary" [(ngModel)]="userInput" (keypress)="find($event);"></ion-searchbar>

    <ion-list-header>
      <ion-text class="ion-text-uppercase">
        <h1>{{ mainHeadText }}</h1>
      </ion-text>
    </ion-list-header>

    <ion-row>

      <ion-col col-6>
        <ion-label>
          <div id="sub_head">
            <h3><b> {{ nameHeadText }} </b></h3>
          </div> 
        </ion-label>
      </ion-col>
      
      <ion-col col-6>
        <ion-label>
          <h3><b> {{ typeHeadText }} </b></h3>
        </ion-label>
      </ion-col>

    </ion-row>

    <ion-item *ngFor="let singleSportPlace of sportPlaces" (click)="onClickDetails(singleSportPlace)">  
      
      <ion-col col-6>
        <ion-label class="ion-text-wrap">
          <h3> {{ singleSportPlace.name }} </h3>
        </ion-label>
      </ion-col>

      <ion-col col-6>
        <ion-label class="ion-text-wrap">
          <h3>{{ singleSportPlace.type.name }}</h3>
        </ion-label>    
      </ion-col>

    </ion-item>

  </ion-list>
</ion-content>
