#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content {
  --ion-background-color: #edf7fc;
  --ion-text-color: #100288;
}

#sub_head {
  padding-left: 15px;
}

img {
  height: 18vh;
  width: auto;
  margin: auto;
  display: block;
}

.backgroundImage {
  background-image: url("../../assets/frame_image.png");
  background-repeat: no-repeat;
  background-size: cover;
}
