<ion-header>
  <ion-toolbar color="secondary">

    <img width="250" src="../assets/sovellus_logo.png" />

    <ion-buttons slot="start">

      <ion-back-button></ion-back-button>

    </ion-buttons>

    <ion-buttons slot="end">
      
      <ion-button (click)="show_information();">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="show_map();">
        <ion-icon slot="icon-only" name="map"></ion-icon>
      </ion-button>

    </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>

    <ion-card-header>
        <ion-card-title>Kohteen tiedot</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item *ngFor="let item of placeDetails">
        <ion-grid>

          <ion-row>
            <ion-col col-6>
              Liikuntapaikka
            </ion-col>
            <ion-col col-6>
              {{ item.sportPlaceName }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              Tyyppi
            </ion-col>
            <ion-col col-6>
              {{ item.typeName }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              Kunta
            </ion-col>
            <ion-col col-6>
              {{ item.cityName }} ({{ item.cityCode }})
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              Omistaja
            </ion-col>
            <ion-col col-6>
              {{ item.owner }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              Kunnossapitäjä
            </ion-col>
            <ion-col col-6>
              {{ item.admin }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              Perustamisvuosi
            </ion-col>
            <ion-col col-6>
              {{ item.constructionYear }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              Lähiosoite
            </ion-col>
            <ion-col col-6>
              {{ item.address }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>Postitoimipaikka</ion-col>
            <ion-col col-6>
              {{ item.postalCode }} {{ item.postalOffice }}
            </ion-col>
          </ion-row>

          <!-- <ion-row>
            <ion-col col-6>
              Koordinaatit
            </ion-col>
            <ion-col col-6>
              {{ item.latitude }}, {{ item.longitude }}
            </ion-col>
          </ion-row> -->

          <ion-row>
            <ion-col col-6>
              Sähköposti
            </ion-col>
            <ion-col col-6>
              {{ item.email }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              Nettiosoite
            </ion-col>
            <ion-col col-6>
              <button ion-button (click)="openUrl(item.internetAddress)">Linkki sivuille</button>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col col-6>
              Pintamateriaali
            </ion-col>
            <ion-col col-6>
              {{ item.surfaceMaterial }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              Koulun käytössä
            </ion-col>
            <ion-col col-6>
              {{ item.schoolUse }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              Valaistus
            </ion-col>
            <ion-col col-6>
              {{ item.lighting }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              Pinta-ala m2
            </ion-col>
            <ion-col>
              {{ item.areaSquareMetre }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              Kentän pituus metreinä
            </ion-col>
            <ion-col>
              {{ item.fieldLength }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              Kentän leveys metreinä
            </ion-col>
            <ion-col>
              {{ item.fieldWidth }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              Kenttien lukumäärä
            </ion-col>
            <ion-col>
              {{ item.fieldsCount}}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              Vapaasti käytettävissä
            </ion-col>
            <ion-col>
              {{ item.freeUse}}
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col>
              Tiedot päivitetty
            </ion-col>
            <ion-col>
              {{ item.lastModified }}
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-item>
    </ion-card-content>

  </ion-card>

</ion-content>
