ion-content {
    --ion-background-color: #edf7fc;
    --ion-text-color: #100288;
}

ion-card-title {
    --color: #100288;
}

img {
    height: 18vh;
    width: auto;
    margin: auto;
    display: block;
}
  